Source: img-gpu-powervr
Section: graphics
Priority: optional
Maintainer: bianbu <bo.deng@spacemit.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/spacemit-com/img-gpu-powervr

Package: img-gpu-powervr
Architecture: all
Depends:
 ${misc:Depends},
Description: Imagination PowerVR GPU library packages.
 img-gpu-powervr is a GPU library packages from Imagination and provide GPU firmware, gles2, gles3. This library is not open source, only provide with binary library.
